.ser-one{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("ser.webp");
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ser-onee{
    position: absolute;
    width: 400px;
    height: 62px;
    left: 550px;
    top: 20px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    /* line-height: 62px; */
    text-align: center;
    /* text-transform: capitalize; */
    color: #040404;
    /* border: 1px solid black; */
    /* background-color: rgb(254, 252, 252); */
}
.ser-oneee{
    position: absolute;
    width: 200px;
    height: 22px;
    left: 650px;
    top: 120px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #080808;
    /* border: 1px solid black; */
    /* background-color: rgb(254, 252, 252); */
}
.ser-two{
    position: relative;
    width: 100%;
    height: 1300px;
    /* background-image: url("serr.jpg"); */
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(202, 193, 193);
}
.ser-he{
    position: absolute;
    width: 100%;
    height: 62px;
    /* left: 50px; */
    top:25px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    text-align: center;
    color: #0c0c0c;
} 
.pho{
    position: absolute;
    width: 506px;
    height: 320px;
    left: 650px;
    top: 170px;
    background: url("daily.webp");
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    border-radius: 40px 10px;
    background-size: cover;
}
#myButtn{
    position: absolute;
    width: auto;
    height: 40px;
    left: 835px;
    color: rgb(234, 234, 241);
    top: 530px;
    font-weight: 600;
    font-size: 25px;
    background-color: rgb(60, 60, 194);
}
.servpp{
    position: absolute;
    width: 1000px;
    height: 128px;
    left: 450px;
    top: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #0d0e0e;
}
.listt{
    position: absolute;
    width: 1000px;
    height: 227px;
    left: 450px;
    top: 850px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
}
.page-thre{
    position: relative;
    width: 100%;
    height: 3000px;
    border-radius: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(238, 226, 226);
}
.ser-the{
    position: absolute;
    width: 100%;
    height: 62px;
    top:25px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    text-align: center;
    color: #0c0c0c;
}
.ser-t{
    position: absolute;
    width: 100%;
    height: 62px;
    left:125px;
    top:100px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    /* text-align: center; */
    color: #0c0c0c;
}
.small-photo{
    position: absolute;
    width: 506px;
    height: 320px;
    left: 650px;
    top: 170px;
    background: url("development.jpg");
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    border-radius: 40px 10px;
    background-size: cover;
}
#myButtonn{
    position: absolute;
    width: auto;
    height: 40px;
    left: 835px;
    color: rgb(234, 234, 241);
    top: 530px;
    font-weight: 600;
    font-size: 25px;
    background-color: rgb(60, 60, 194);
}
.addp{
    position: absolute;
    width: 100%;
    height: 40px;
    /* left: 100px; */
    top: 1000px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #0a0b0b;
    text-align: center;
}
.lists{
    position: absolute;
    width: 1000px;
    height: 227px;
    left: 450px;
    top: 1100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px; 
}
.hew{
    position: absolute;
    width: 100%;
    height: 40px;
    /* left: 100px; */
    top: 1400px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #0a0b0b;
    text-align: center;
    /* word-spacing: 3px; */
} 
.listtss{
    position: absolute;
    width: 1000px;
    height: 227px;
    left: 450px;
    top: 1500px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;   
}